<header class="header">
  <nav class="header-list">
    <a routerLink="/boxes" class="bi bi-box-fill"></a>
    <a routerLink="/b2c" class="bi bi-collection-fill"></a>
    <a routerLink="/b2b" class="bi bi-inbox"></a>
    <a routerLink="/network" class="bi bi-globe2"></a>
    <a routerLink="/games" class="bi bi-joystick"></a>
    <a routerLink="/design" class="bi bi-stack"></a>
    <a routerLink="/admin">A</a>
  </nav>

  <select (change)="onChangeLang($event)">
    <option value="ru">RU</option>
    <option value="eng">EN</option>
  </select>
</header>

<main class="main">
  <div class="button-wrapper">
    <button (click)="changeModal()" class="signin" [disabled]="isSignedIn">{{"BUTTON.SIGN_IN" | translate}}</button>
    <button (click)="logout()" class="logout" [disabled]="!isSignedIn">{{"BUTTON.LOGOUT" | translate}}</button>
  </div>
  <router-outlet></router-outlet>
</main>

<app-auth-modal [class.active]="isModal" [class.inactive]="!isModal" (onChanged)="onSignIn($event)"></app-auth-modal>
