:host {
  display: flex;
}

.header {
  flex: 1 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  background-color: #e3e3e3;
  padding-top: 30px;

  .header-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    a {
      font-size: 30px;
      color: #343434;
      &:hover {
        color: #3e8285;
        transition: all 0.25s;
      }
    }
  }
}

.main {
  flex: 25 1;
  margin-left: 50px;
}
